%p#notice= notice

%p
  %b Name:
  = @pin.name

%p
  %b Address:
  = @pin.address

%p
  %b Lat:
  = @pin.latitude
%p
  %b Lng:
  = @pin.longitude
%p
  %b Acc:
  = @pin.accuracy
%p
  = image_tag @pin.static_map_url

= link_to 'Edit', edit_pin_path(@pin)
\|
= link_to 'Back', pins_path
